* {
    margin: 0;
    padding: 0;
}
.navbar button {
    width: 135px;
    height: 44px;
    color: white;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);;
    padding: 16px 12px;
    border: none;
    border-radius: 25px;
    
}

header{
    background-color: #1A0B2E; 
    padding-top: 16px;
    
}
.logo {
    max-width: 1600px;
    height: 96px;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
} 


.list ul li a {
    text-decoration: none;
    color: white;
    display: inline;
} 
.list ul li{
    display: inline;
    margin-left: 2rem;

}

hr {
    color: white;
}
.hero-container{
    max-width: 100%;
    width: 1600px;
    /* height: 760px; */
    margin-top: 101px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -92px; 
    background-color: #1A0B2E;
}
.hero-container .hero-info{
    justify-content: center;
    align-items: center;
    display: flex;

}
.hero-container .hero-info .back-img{
    position: relative;
}

.hero-container .hero-info .top-img{
    position: absolute;
}
.hero-container .badge{
    width: 75px;
    height: 37px;
    background-color: #00ff88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -250px; 
    margin-left: 300px;
} 

.hero-section h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}
.hero-section p{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.btn{
    text-align: center;
    margin-top: 24px; 
    padding-bottom: 101px; 
}
.hero-primary-btn{
    color: white;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    width: 201px;
    height: 44px;
  
}

.hero-secondary-btn{
    color: #00FF88;
    padding: 12px 20px; 
    height: 44px;
    width: 147px;
    border-radius: 25px;
    background: none;
    border-color: #00FF88;


} 
 section {
    padding-bottom: 80px;
   text-align: center; 
   margin-top: -50px;
   background-color: #1A0B2E;
   
}
.Box h1, p{
    color: white; 
    display: flex;
    justify-content: center;
    margin-top: 50px; 
    text-align: center;
}
.section .box {
    color: white;
}

.card{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    padding: 100px 200px; 
    text-align: center;
    

}
.card h1{
    color: #00FF88;
    margin-bottom: -40px;
    
}
.card p{
    color: #FFFFFF;
    
}

.techwave-section{
    background-color: #230E3D;
    padding-bottom: 120px;
}
.techwave-section h2{
    color: #FFFFFF;
}
.techwave-section-container>* {
    border-radius: 40px;
    background-color: rgb(53, 17, 101, 0.4);
    border-style: none;
    padding: 40px;
    line-height: 40px;
}
.techwave-section-container{
    margin: 40px 200px 0px 218px;
}

.techwave-section-container h6{
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}
.techwave-section h1{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF; 
    text-align: center;
    padding-top: 120px;
}
.techwave-section-container p{
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
}
.card-premium{
    grid-area: card-premium;
}
.card-Mobile{
    grid-area: card-Mobile;
}
.card-global{
    grid-area: card-global;
}
.card-exclusive{
    grid-area: card-exclusive;
}
.card-resources{
    grid-area: card-resources;
}
.techwave-section-container{
    gap: 30px;
    padding: 40px;
    display: grid;
    grid-template-areas: 
        "card-premium card-Mobile card-Mobile"
        "card-premium card-global card-global"
        "card-exclusive card-exclusive card-resources"
    
    ;
}
/* Featured Episodes */
.hero-list{
    max-width: 100%;
    width: 1600px;
    background-color: #1A0B2E;
    padding-bottom: 120px;
    text-align: start;
    justify-items: center;
}

.hero-list h1 {
    padding-top: 120px;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}
.hero-list .list-section{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px 200px 120px 200px;
}
.hero-list .list-section .list-vedio{
    width: 380px;
    height: 440px;
    border-radius: 24px;
    background-color: rgb(53, 17, 101, 0.4);
    border-style: none;
    justify-content: center;

} 

.hero-list .list-section .card iframe{
    border-radius: 24px 24px 0 0 ; 

}
.hero-list .list-section .list-vedio{
    font-size: 24px;
    font-weight: 700; 
    font-family: "Inter", sans-serif;
    padding: 20px 24px 20px 24px;
    color: #FFFFFF;
    
}
.hero-list .list-section .list-vedio p,.host-list p{
     line-height: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
    padding: 0px 24px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: start;
}

.hero-list .list-section .list-vedio h6,.host-list h6 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 20px 24px 20px 24px;
    text-align: start;
}
.hero-list .list-section .list-vedio{
    color: #00ff88;
    font-size: 700;
}


.hero-content{
    border-radius: 24px; 
    background-color: rgb(53, 17, 101, 0.4);
    border-style: none;
    padding: 24px;
    margin-top: 40px;
    justify-items: center;
    text-align: start;
    display: flex;
    gap: 24px;
    align-items: center;
    width: 1200px;
    height: 280px;
}

.host img{
    height: 200px;
    width: 200px;  
}

.card-link{
    gap:8px;
    margin-left: 18px;
    display: flex;
}
.card-link .card{
    border-width:1px;
    border-style: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    padding: 12.5px;
    height: 20px;
    width: 20px;
    border-color: #533C72;
    
}

footer{
    background-image: url(../assets/footer-bg.png);
    max-width: 100%;
    width: 1600px;
    justify-items: center;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

   
}
footer .social img{
    margin-top: 32px;
    
} 

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}
footer ul li{
    color: #FFFFFF;
    list-style: none;
    cursor: pointer;
    
}
footer p{
    font-size: 16px;
    color: #FAFAFA;
    padding-bottom: 100px;
}









